.mat-tool-bar {
  margin: 0 auto;
  font-family: "Dancing Script", cursive;
  max-width: 80rem;
}
/* .login-register-header {
  font-family: 'Courier New', Courier, monospace;
  font-size: 16px;
  margin: 10px 0;
  border: 1px solid;
  background-color: rgb(244, 122, 122);
  border-radius: 10px;
  color: white;
  padding: 5px;
} */
