<!-- Like the name implies, it is an angular element used to create sidebars in projects -->
<div class="min-h-full max-w-7xl mx-auto border-x container">
  <div class="p-6 header">
    <app-filters (showCategory)="onShowCategory($event)"> </app-filters>
  </div>
  <div class="p-6 prod-cont">
    <!-- This is the next displayed coontainer -->
    <app-products-header
      (columnsCountChange)="onColumnsCountChange($event)"
      (sortChange)="onSortChange($event)"
      (itemsCountChange)="onItemsCountChange($event)"
    ></app-products-header>
    <!-- It is an automatic function -->
    <div class="product-cont">
      <div  class="single-product" *ngFor="let product of products">
        <!-- this is where we received the products that was inputed -->
        <app-product-box
          [product]="product"
          (addToCart)="onAddToCart($event)"
          [fullWidthMode]="cols === 1"
        ></app-product-box>
      </div>
    </div>
  </div>
</div>
