.container {
  padding: 20px;
}
.header {
  padding: 20px;
}
.prod-cont {
  margin: 0 auto;
}

.single-product {
  padding: 20px;
  width: 250px;
  height: auto;
  margin: 0 auto;
}

.product-cont {
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
}
