<!-- Like the name implies, it is an angular element used to create sidebars in projects -->
<mat-drawer-container
  class="min-h-full max-w-7xl mx-auto border-x"
  [autosize]="true"
>
  <mat-drawer mode="side" opened class="p-6">
    <app-filters
    (showCategory)="onShowCategory($event)"></app-filters>
  </mat-drawer>
  <mat-drawer-content class="p-6">
    <!-- This is the next displayed coontainer -->
    <app-products-header
      (columnsCountChange)="onColumnsCountChange($event)"
      (sortChange)="onSortChange($event)"
      (itemsCountChange)="onItemsCountChange($event)"
    ></app-products-header>
    <!-- It is an automatic function -->
    <mat-grid-list gutterSize="16" [cols]="cols" [rowHeight]="rowHeight">
      <mat-grid-tile *ngFor="let product of products"   >
            <!-- this is where we received the products that was inputed -->
        <app-product-box 
          [product]="product"
          (addToCart)="onAddToCart($event)"
          class="w-full"
          [fullWidthMode]="cols === 1"
        ></app-product-box>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-drawer-content>
</mat-drawer-container>
