.container {
  display: none;
}

/* 860px is the borderline for the new div we are creating */
@media only screen and (max-width: 900px) {
  .hiddenmf {
    display: none;
  }
  .container {
    display: block;
    background-color: rgb(245, 245, 245);
    height: 100vh;
    width: 100%;
    max-width: 100vw;
  }
  .row-container {
    background-color: white;
    margin: 0 20px;
    height: 40px;
    border-radius: 10px;
    padding: 10px 0;
  }
  .header {
    width: 100%;
    height: 200px;
  }
  .cart-summary {
    margin-left: 20px;
    color: grey;
  }
  .item-in-cart {
    margin-top: 20px;
    margin-bottom: 0;
    font-size: 15px;
  }
  .total-text {
    margin: 0 20px;
  }
  .total {
    margin: 0 10px;
    font-weight: bold;
  }
  .item-prod-box {
    display: flex;
    flex-direction: column;
  }

  .row-container {
    display: flex;
    justify-content: space-between;
  }
  .total-box {
    width: 100%;
    border: 1px solid;
    display: flex;
  }
  .item-container {
    width: 90%;
    height: 180px;
    padding: 10px;
    margin: 20px auto;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  .image-name-price-container {
    width: 100%;
    height: 130px;
    display: flex;
    gap: 30px;
  }
  .image {
    width: 80px;
    height: auto;
  }
  .clear-increase-quantity-container {
    height: 30px;
    display: flex;
    justify-content: space-between;
  }
  .name-price-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .name {
    flex-wrap: wrap;
    font-size: 10px;
  }
  .price {
    font-size: 20px;
    font-weight: 900;
  }
  .in-stock {
    font-weight: 100;
    color: rgb(130, 130, 130);
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }
  .remove {
    color: rgb(215, 42, 42);
    font-weight: 900;
    padding: 2px;
  }
  .icon {
    background-color: rgb(215, 42, 42);
    border-radius: 15%;
    color: white;
  }
  .add-reduce-quantity {
    padding: 0 5px;
    display: flex;
    width: 120px;
    justify-content: space-between;
  }
  .checkout {
    display: flex;
    background-color: white;
    margin-left: 20px;
    margin-right: 10px;
    border-radius: 10px;
  }
  .phone {
    border: 1px solid;
    color: rgb(215, 42, 42);
    height: 40px;
    width: 40px;
    padding: 5px;
    margin-left: 5px;
  }
  .checkout-button {
    width: 75%;
    margin: 0 auto;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
}
